<mat-toolbar>
  <button (click)="onResetClick()">
    <mat-icon>restart_alt</mat-icon>
  </button>
  <button (click)="onPauseClick()">
    <mat-icon *ngIf="!(pauseGame$ | async)">pause</mat-icon>
    <mat-icon *ngIf="pauseGame$ | async">play_arrow</mat-icon>
  </button>
</mat-toolbar>

<div class="wrapper">
  <div *ngFor="let row of matrix$ | async; let i = index">
    <div
      *ngFor="let col of row; let j = index"
      class="cell"
      [ngClass]="{ death: col === 1, alive: col === 0 }"
    ></div>
  </div>
</div>
